body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0067C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  input[type="text"], select {
    background-color: #E5F8FF;
    border: none;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  @media (max-width: 720px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logo {
      margin-bottom: 1rem;
    }
  
    nav {
      margin-top: 1rem;
      flex-direction: column;
    }
  }

  footer {
    background-color: #0067C8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 720px) {
  footer {
    padding: 1rem;
  }
}

img {
    width: 100%;
    height: auto;
    /* display: block; */
}

/* @media (max-width: 720px) {
  img {
    width: 100%;
    height: auto;
  }
} */

@media (max-width: 720px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    nav {
      margin-top: 1rem;
      flex-direction: column;
    }
    
    nav li {
      margin: 0.5rem 0;
    }
  }

  #weather h1 {
    width: 100%;
    text-align: center;
  }

  .weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weather-box {
    text-align: center;
    width: 45%;
    max-width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .weather-box img {
    width: 50px;
    height: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .weather-box {
      width: 100%;
    }
  }

  .button {
    padding: 0.5em 2em;
    color: rgb(16, 83, 230);
    margin: auto;
    border: 0;
    font-size: var(--large-font);
    cursor: pointer;
  }

  main form {
    text-align: center;
  }
  
  